<a href="https://colab.research.google.com/github/Harish-M30/Harish-M30/blob/main/D64.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num = [1,2,3,4,5]
sq_num=[]
for i in num:
  sq_num.append(i*i)
print(sq_num)

[1, 4, 9, 16, 25]

In [ ]:
#List with squares greater than 5 and less than 50
num=[1,2,3,4,5,6,7,8,9,10]
sq_list = []
for i in num:
  if((i*i)>5 and (i*i)<50):
    sq_list.append(i*i)
print(sq_list)

[9, 16, 25, 36, 49]

In [ ]:
#Tuples:
first_tuple=("Maruti", "Tata", 1,2,3, True, False)
first_list = list(first_tuple)
first_list
first_list[0] = "Maruti Suzuki"
print(first_list)

['Maruti Suzuki', 'Tata', 1, 2, 3, True, False]
Maruti Suzuki
Tata
1
2
3
True
False

In [ ]:
#for i in comp_list:
  #print(i)

new_comp = ('suzuki','honda','fiat','volvo','M&M')
comp_list = ("Maruti suzuki", "Mahindra", "Adani", "Tata")
new_complist = list(new_comp)
comp=list(comp_list)
new_tuple = tuple(new_complist+comp)
print(new_tuple)

('suzuki', 'honda', 'fiat', 'volvo', 'M&M', 'Maruti suzuki', 'Mahindra', 'Adani', 'Tata')

In [ ]:
#Sets
set1 = set(new_tuple)
print(set1)
for i in set1:
  print(i)

## Adding an element to set
set1.add("Birla")
print(set1)
set2 = {"guvi","Jini"}
set1.update(set2)
print(set1)
set1.remove('Jini')
print(set1)
set3= {'ceo1','ceo2', 'ceo3'}
set4 = set1.union(set3)
print(set4)

{'suzuki', 'Tata', 'Adani', 'volvo', 'honda', 'Mahindra', 'fiat', 'Maruti suzuki', 'M&M'}
suzuki
Tata
Adani
volvo
honda
Mahindra
fiat
Maruti suzuki
M&M
{'suzuki', 'Tata', 'Adani', 'volvo', 'honda', 'Mahindra', 'Birla', 'fiat', 'Maruti suzuki', 'M&M'}
{'guvi', 'suzuki', 'Tata', 'Adani', 'volvo', 'Jini', 'honda', 'Mahindra', 'Birla', 'fiat', 'Maruti suzuki', 'M&M'}
{'guvi', 'suzuki', 'Tata', 'Adani', 'volvo', 'honda', 'Mahindra', 'Birla', 'fiat', 'Maruti suzuki', 'M&M'}
{'guvi', 'suzuki', 'ceo3', 'Tata', 'Adani', 'volvo', 'M&M', 'ceo1', 'Mahindra', 'ceo2', 'Birla', 'fiat', 'Maruti suzuki', 'honda'}

In [ ]:
#Dictionary:
dictt = {'Name':"Harish", "Roll-no": 23, "Age": 26}
print(dictt)
print(dictt["Name"])
new_dictt = {"Suzuki":"Car", 'Model':2010, "Year":['2010','2011','2012','2013','2014']}
print(new_dictt)

for key in dictt.keys():
  print(key)
for value in dictt.values():
  print(value)
for key,value in dictt.items():
  print(key)
  print(value)

{'Name': 'Harish', 'Roll-no': 23, 'Age': 26}
Harish
{'Suzuki': 'Car', 'Model': 2010, 'Year': ['2010', '2011', '2012', '2013', '2014']}
Name
Roll-no
Age
Harish
23
26
Name
Harish
Roll-no
23
Age
26

In [ ]:
thisdict = {"suzuki":{"car":"hatchback"},"model":{"year":['2010','2011','2013','2024']},'year':'2022','hp':95}
thisdict['model']['year'][3] = '2022'
print(thisdict)

{'suzuki': {'car': 'hatchback'}, 'model': {'year': ['2010', '2011', '2013', '2022']}, 'year': '2022', 'hp': 95}

In [ ]:
#Conditionals
a=30
b=20
Sum=a+b
if(Sum>50):
  print(Sum)
else:
  break

In [ ]:
marks = float(input())
if(marks>80):
  print("Grade A")
elif(marks>70 and marks<=80):
  print("Grade B")
else:
  print("Grade C")

82.5
Grade A

In [ ]:
#Permutations

drink = ["water","tea","Juice"]
food=["Dosa","Chole","Dhokla","Mango"]
possible_choices=[]
for i in drink:
  for j in food:
    a=i,j
    possible_choices.append(a)
print(possible_choices)

[('water', 'Dosa'), ('water', 'Chole'), ('water', 'Dhokla'), ('water', 'Mango'), ('tea', 'Dosa'), ('tea', 'Chole'), ('tea', 'Dhokla'), ('tea', 'Mango'), ('Juice', 'Dosa'), ('Juice', 'Chole'), ('Juice', 'Dhokla'), ('Juice', 'Mango')]

In [ ]:
#List comprehension
#Syntax: [expression for element in iterable if condition]
#        [expression for item in item if condition == True]
for i in food:
  if i == "Mango":
    print(food)

#Using list comprehension
new_food = [food for x in food if x == "Mango"]
print(new_food)

['Dosa', 'Chole', 'Dhokla', 'Mango']
[['Dosa', 'Chole', 'Dhokla', 'Mango']]

In [ ]:
even_list = [i for i in range(1,51) if i%2==0]
print(even_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [ ]:
num_list = [i for i in range(10) if(i<5)]
print(num_list)

[0, 1, 2, 3, 4]

In [ ]:
sq_num = [(i*i) for i in range(1,11)]
print(sq_num)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
stri = ['Abhijith',"aakash","Anbazhagan","Lakshmi","Prabhakaran","Pranali","Vel"]
new_str = [i for i in stri if len(i)>5]
print(new_str)

['Abhijith', 'aakash', 'Anbazhagan', 'Lakshmi', 'Prabhakaran', 'Pranali']

In [ ]:
c=0
c=[c+1 for i in stri if len(i)>5]
print(c)

[1, 1, 1, 1, 1, 1]

In [ ]:
#While Loop and break
num=0
emplist=[]
while num<5:
  num = num+1
  emplist.append(num)
  if num==3:
    break
print(emplist)

[1, 2, 3]

In [ ]:
Sum=0
for i in range(10,31,10):
  Sum = Sum+i
Avg=Sum/3
print(Avg)

20.0

In [ ]:
#FUnction to add 2 numbers:
def add_fun(a,b):
  return(a+b)
c=add_fun(10,13)
print(c)

23

In [ ]:
def func(num):
  new_list=[]
  new_list.append(num)

In [ ]:
#Lambda function
mul = lambda x,y: x*y
print(mul(19,19))

361

In [ ]:
#Print square of numbers using lambda function
l=[1,2,3,4,5]
sq_list=[]
for i in l:
  sq=lambda i:i*i
  sq_list.append(sq)
print(sq_list)

[<function <lambda> at 0x7f52290ed3a0>, <function <lambda> at 0x7f52290edf70>, <function <lambda> at 0x7f52290ed670>, <function <lambda> at 0x7f52290edee0>, <function <lambda> at 0x7f52290ed4c0>]